body {
  overflow: hidden;
  counter-reset: pagecounter;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;

  // Move body to center
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0 0 0;
}

section {
  // Enable hardware-accelerated CSS
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  counter-increment: pagecounter;
  width: 100%;
  height: 100%;
}

p.pagenum:before {
  content: counter(pagecounter);
}
