body {
  -webkit-print-color-adjust: exact;
  position: static !important;
  transform: none !important;
  transform-origin: initial !important;
}

section {
  visibility: visible !important;
  position: relative !important;
  page-break-after: always;
  page-break-inside: avoid;
}
