$bg_color: #D9CB9E
$fg_color: #374140
$editor_bg_color: #1E1E20
$btn_bg_color: #374140
$btn_fg_color : $fg_color
$btn_hover_color : #DC3522
$border-color: #DC3522

*
  margin  : 0
  padding : 0

h1
  font-size   : 128px
  color       : $fg_color

h2
  color : $fg_color

body
  background-color : $bg_color
  font-family      : 'Lato', Helvetica, Arial, "FreeSans"
  padding          : 32px
  text-align       : center

hr
  border        : none
  border-top    : 1px solid rgba(192,192,192,.8)
  border-bottom : 1px solid rgba(64,64,64,.8)
  margin        : 32px auto

#editor-wrapper
  display : inline-block
  #editor
    width            : 640px
    height           : 620px
    font-family      : Monaco, Consolas, Courier, monospace
    font-size        : 15px
    background-color : $editor_bg_color
    padding          : 16px
    color            : white
    box-sizing       : border-box

  .input-wrapper
    width            : 640px
    display          : block
    border-radius    : 4px
    overflow         : hidden
    input
      width            : 320px
      background-color : $btn_bg_color
      border           : 0
      color            : white
      font-weight      : bold
      padding          : 8px
      font-size        : 16px
      box-sizing       : border-box
      &:last-of-type
        border-left : 1px solid rgba(255,255,255,.3)
      &:hover
        cursor: pointer
        color : $btn_hover_color


#preview-wrapper
  background-image : image-url("/images/monitor.png")
  width            : 790px
  height           : 620px
  display          : inline-block
  vertical-align   : top
  margin           : 32px
  #preview
    margin           : 32px
    width            : 720px
    height           : 405px
    border           : none
    display          : inline-block
    background-color : white
    vertical-align   : top
    margin           : 32px
