doctype html
html ng-app='scena_editor'
  head
    meta charset='UTF-8'

    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"
    = javascript_include_tag "scena-editor"
    = stylesheet_link_tag 'scena'
    = stylesheet_link_tag 'themes/simple/design.css'

    style
      | * {
          margin  : 0;
          padding : 0;
        }
        [draggable] {
          -moz-user-select    : none;
          -khtml-user-select  : none;
          -webkit-user-select : none;
          user-select         : none;
          -khtml-user-drag    : element;
          -webkit-user-drag   : element;
        }
        html, body {
          width    : 100%;
          height   : 100%;
          overflow : hidden;
        }
        body {
          display : table;
        }
        #navigator {
          height           : 100%;
          display          : table-cell;
          z-index          : 10;
          padding          : 16px;
          overflow-x       : hidden;
          overflow-y       : scroll;
          background-color : white;
        }
        #navigator > .outer-cupsule {
          transition-duration : 100ms;
        }
        #navigator .inner-capsule {
          pointer-events : none;
          box-shadow     : 0 0 4px black;
          border-radius  : 4px;
          border         : 4px solid white;
          margin         : 4px 0;
          width          : 160px;
          height         : 120px;
        }
        #navigator section {
          position         : relative;
          visibility       : visible;
          transform        : scale(0.15625);
          transform-origin : 0 0;
          width            : 1024px;
          height           : 768px;
        }
        #main_canvas {
          width            : 100%;
          height           : 100%;
          display          : table-cell;
          background-color : white;
          position         : relative;
          vertical-align   : middle;
        }
        #main_canvas .container {
          display        : table;
          vertical-align : middle;
          margin         : 0 auto;
          box-shadow     : 0 0 8px black;
        }
        #main_canvas section {
          position         : static;
          visibility       : visible;
          width            : 1024px;
          height           : 768px;
        }
        #main_canvas .selected {
          box-shadow     : 0 0 6px #88f;
        }

  body ng-controller='Develop' ng-init='debugInit()'
    aside#navigator (ng-controller='NavigatorController')
      div.outer-cupsule (ng-repeat='page in pages'
                         ng-mousedown='setCurrentPage($index)'
                         draggable='true'
                         ng-draggable='true'
                         navigator-thumbnail)
      style
        | #navigator > :nth-child({{currentIndex + 1}}) {
            box-shadow     : 0 0 6px #44f;
          }
          /* drag over */
          #navigator > :nth-child({{overedIndex + 1}}) {
            padding-top : 24px;
          }
          /* dragged element*/
          #navigator > :nth-child({{moveFromIndex + 1}}) {
            opacity          : 0.5;
           -webkit-transform : scale(0.8);
           -moz-transform    : scale(0.8);
           -ms-transform     : scale(0.8);
           -o-transform      : scale(0.8);
          }

    main#main_canvas (ng-controller='CanvasController'
                      main-canvas)

    coffee:
      # window.page_navigator = new Scena.Navigator(document.getElementById('navigator'))
      # window.main_canvas = new Scena.MainCanvas(document.getElementById('main_canvas'))
      # window.page_navigator.addCurrentPageChangedListener(->
      #   main_canvas.setCurrentPage(page_navigator.getCurrentIndex())
      # )
